*{
	margin: 0;
	padding: 0;
	/*outline: 1px solid red;*/
}
body{
	background: black;
}
.container{
	display: block;
	width: 95%;
	margin: 0 auto;
	height: 95%;
}
header{
	height: 80px;
	text-align: center;
}
header a{
	color: white;
	text-decoration: none;
	padding: 5px;
}
img{
	display: block;
	margin: 0 auto;
	width: 60%;
	height: 30%;
}